@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Raleway&display=swap');

:root {
    --main-color: black;
    font-family: 'Nunito Sans';
}
body {
    max-width: 980px;
    margin: auto;
    background: no-repeat center center fixed;
    background-image: url(../image/background.jpg);
    background-position: center;
    background-size: cover;
    

}
h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.4em;
}
header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
    
}

header p {
    text-align: center;
    letter-spacing: 0.2em;
}

.top-menu {
    display: flex;
    justify-content: center;
    
}

.top-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px;
    padding: 5px;
    padding-right: 40px;
    letter-spacing: 0.1em;
}

.top-menu li {
    display: inline-block;
    padding: 0 5px;
}

.top-menu li a:hover, .top-menu .current a {
  color: #055e1f;
  
}

.pictures img {
    display: block;
    width: 100%;
    margin-top: 20px;
}

#gallery-menu {
    max-width: 980px;
    margin: auto;
    background: no-repeat center center fixed;
    background-image: url(../image/sfcov.jpg);
    background-position: center;
    background-size: cover;
}

@media (min-width: 800px) {
    main .pictures {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px
    }
}