@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Raleway&display=swap');

:root {
    --main-color: black;
    font-family: 'Nunito Sans';
}
body {
    max-width: 980px;
    margin: auto;
    background: no-repeat center center fixed;
    background-image: url(../image/background.jpg);
    background-position: center;
    background-size: cover;
    

}
h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.4em;
}
header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
    
}

header p {
    text-align: center;
    letter-spacing: 0.2em;
}

.top-menu {
    display: flex;
    justify-content: center;
    
}

.top-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px;
    padding: 5px;
    padding-right: 40px;
    letter-spacing: 0.1em;
}

.top-menu li {
    display: inline-block;
    padding: 0 5px;
}

.top-menu li a:hover, .top-menu .current a {
  color: #055e1f;
  
}

.pictures img {
    display: block;
    width: 100%;
    margin-top: 20px;
}

#gallery-menu {
    max-width: 980px;
    margin: auto;
    background: no-repeat center center fixed;
    background-image: url(../image/sfcov.jpg);
    background-position: center;
    background-size: cover;
}

@media (min-width: 800px) {
    main .pictures {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px
    }
}

#contacts p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;


}

.contact {
    font-family: 'Nunito Sans';
    margin-top: 100px;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #4f83e4;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h3 {
    text-align: center;
    font-family: 'Nunito Sans';
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgb(206, 220, 226);
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#aboutMe {
     max-width: 980px;
    margin: auto;
    background: no-repeat center center fixed;
    background-image: url(../image/coverAbout.jpg);
    background-position: center;
    background-size: cover;
}

.aboutText h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5em;
    color: rgb(40, 68, 40);
}

.aboutText p {
    color: bisque;
    text-align: justify;
    padding: 100px;
    justify-items: end;
}